.idea/
/cmake-build-debug-visual-studio
/cmake-build-minsizerel-visual-studio
.vs/
*.user
/cmake-build-*/
/build/
/out/
/build_steam/
/build_gog/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.pdb
*.lib
*.exp
*.lkshw
*.ilk
*.obj
*.pch
*.idb
*.ipdb
*.iobj
*.suo
*.db
*.opendb
*.recipe
*.tlog
*.log
/Release_Steam.zip
/Release_GOG.zip
/ExampleMod.zip
/Debug_Steam.zip
/Debug_GOG.zip
/ExampleMod_Debug.zip